.filter {
  margin: 20px;
  text-align: center;
}

.filter input {
  width: 50%;
}

.center {
  margin: 20px;
  text-align: center;
}

.list-group-item {
  cursor: pointer;
  margin: 20px;
}

.list-group-item:hover {
  background-color: #eee;
}